* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	color: white;
}

#stage {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -216px;
	margin-left: -350px;
	width: 700px;
	height: 432px;
	background: url(../images/bg.png) no-repeat;
}

#welcome {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 100%;
}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 200;
	display: none;
	width: 100%;
	height: 100%;
}

#button {
	position: absolute;
	top: 280px;
	left: 50%;
	display: none;
	margin-left: -150px;
	width: 300px;
	height: 72px;
	border: 1px solid #333;
	border-radius: 10px;
	background: -webkit-linear-gradient( rgba(50,50,50,0.9), rgba(0,0,0,0.9) );
	box-shadow: 0px 5px 20px black;
	color: white;
	text-decoration: none;
	font-size: 26px;
	line-height: 72px;
	-webkit-transition: background-color 1s ease, box-shadow 1s ease;
}

#button:hover {
	background-color: black;
	box-shadow: 0px 5px 20px 2px black;
}

	#button img {
		position: relative;
		top: -18px;
		left: 13px;
		float: left;
	}

	#button span {
		margin-left: 20px;
	}

#error {
	position: absolute;
	display: none;
	width: 220px;
	background: rgba(0,0,0,0.8);
	top: 50%;
	left: 50%;
	margin-top: -80px;
	margin-left: -140px;
	padding: 31px;
	text-align: center;
	border: 1px solid #333;
	box-shadow: 0px 5px 20px black;
	line-height: 30px;
}

#spinner {
	position: absolute;
	width: 140px;
	height: 130px;
	background: rgba(0,0,0,0.8);
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #333;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
	top: 50%;
	left: 50%;
	margin-top: -95px;
	margin-left: -100px;
	display: none;
}

	#spinner img {
		display: block;
		margin: auto;
		margin-bottom: 16px;
	}

	#spinner span {
		font-size: 17px;
		color: #CCC;
	}

/*#balloon {
	display: none;
}*/

#bar-content {
	color: black;
	font-weight: normal;
	min-width: 280px;
	background: url(../images/poweredby-foursquare.png) no-repeat bottom right;
	background-size: 80%;
	padding-bottom: 32px;
}

	#bar-content .top {
		min-height: 64px;
		margin-bottom: 10px;
		letter-spacing: -1px;
	}

	#bar-content img {
		float: left;
		margin-right: 15px;
		display: inline-block;
	}

	#bar-content h2 {
		font-size: 24px;
		padding-top: 6px;
		margin-left: 79px;
	}

	#bar-content h4 {
		font-size: 16px;
		color: #999;
		margin-left: 79px;
		margin-top: 4px;
	}

	#bar-content li {
		font-size: 14px;
		margin: 3px 0px;
	}

		#bar-content li span {
			background: #999;
			color: white;
			font-weight: bold;
			padding: 0px 6px;
			border-radius: 8px;
			font-size: 12px;
		}

	#bar-content li.small {
		color: #666;
		font-style: italic;
	}